﻿@model ZotCode.Domain.Model.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete User";
}

<h2>Delete User</h2>
<h3>Are you sure you want to delete this user?</h3>

<div>
    <h4>@Model.FullName</h4>

    <hr />

    <h5>User Details</h5>
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.DateOfBirth)</dt>
        <dd>@Html.DisplayFor(model => model.DateOfBirth)</dd>
    </dl>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <h5>Postal Address</h5>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.PostalAddress)</dt>
                <dd><pre>@Html.DisplayFor(model => model.PostalAddress.FullAddress)</pre></dd>
            </dl>
        </div>

        <div class="col-md-6">
            <h5>Billing Address</h5>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.BillingAddress)</dt>
                <dd><pre>@Html.DisplayFor(model => model.BillingAddress.FullAddress)</pre></dd>
            </dl>
        </div>

    </div>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", MVC.Admin.User.Index())
    </div>

</div>
