﻿@model ZotCode.Domain.Model.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "User Details";
}

<h2>User Details Summary</h2>

<div>
    <h3>@Model.FullName</h3>
	<hr />

    <h4>User Details</h4>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.DateOfBirth)</dt>
        <dd>@Html.DisplayFor(model => model.DateOfBirth)</dd>
    </dl>

    <hr />
    <div class="row">
        <div class="col-md-6">
            <h4>Postal Address</h4>

            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.PostalAddress)</dt>
                <dd><pre>@Html.DisplayFor(model => model.PostalAddress.FullAddress)</pre></dd>
            </dl>

        </div>
        <div class="col-md-6">
            <h4>Billing Address</h4>

            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.BillingAddress)</dt>
                <dd><pre>@Html.DisplayFor(model => model.BillingAddress.FullAddress)</pre></dd>
            </dl>

        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", MVC.Admin.User.Edit(Model.Id)) |
    
    @if (@Model.BillingAddress == null)
    { 
    @Html.ActionLink("Set Address", MVC.Admin.User.SetAddress(Model.Id))
    }
    else
    {
    @Html.ActionLink("Update Address", MVC.Admin.User.UpdateAddress(Model.Id))
    } |
    @Html.ActionLink("Back to List", MVC.Admin.User.Index())
</p>
