﻿@model IEnumerable<ZotCode.Domain.Model.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "User Management";
}

<h2>User Management</h2>

<p>
    @Html.ActionLink("Create New", MVC.Admin.User.Create())
</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.BillingAddress)</th>
        <th>@Html.DisplayNameFor(model => model.PostalAddress)</th>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
        <th>Actions</th>
    </tr>

@foreach (var user in Model) {
    <tr>
        <td><pre>@Html.DisplayFor(modelItem => user.BillingAddress.FullAddress)</pre></td>
        <td><pre>@Html.DisplayFor(modelItem => user.PostalAddress.FullAddress)</pre></td>
        <td>@Html.DisplayFor(modelItem => user.FirstName)</td>
        <td>@Html.DisplayFor(modelItem => user.LastName)</td>
        <td>@Html.DisplayFor(modelItem => user.Email)</td>
        <td>@Html.DisplayFor(modelItem => user.DateOfBirth)</td>
        <td>
            @Html.ActionLink("Edit", MVC.Admin.User.Edit(user.Id)) |
            @if (user.BillingAddress == null){
                @Html.ActionLink("Set Address", MVC.Admin.User.SetAddress(user.Id))
            }else {
                @Html.ActionLink("Update Address", MVC.Admin.User.UpdateAddress(user.Id))
            } |
            @Html.ActionLink("Details", MVC.Admin.User.Details(user.Id)) |
            @Html.ActionLink("Delete", MVC.Admin.User.Delete(user.Id))
        </td>
    </tr>
}

</table>
