﻿@using ZotCode.Web.ViewModels

@model IList<UpdateAddressViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Update Address";
}

<h2>@ViewBag.UserName - Update Address</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="row">

            @for (var i = 0; i < @Model.Count; i++)
            {
                <div class="col-md-6">

                    @if (i == 0)
                    {
                        <h3>Postal Address</h3>
                    }
                    else
                    {
                        <h3>Billing Address</h3>
                    }

                    @Html.HiddenFor(model => model[i].Id)
                    @Html.HiddenFor(model => model[i].UserId)

                    <div class="form-group">
                        @Html.LabelFor(model => model[i].UnitNumber, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model[i].UnitNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model[i].UnitNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model[i].StreetNumber, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model[i].StreetNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model[i].StreetNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model[i].StreetName, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model[i].StreetName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model[i].StreetName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model[i].City, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model[i].City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model[i].City)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model[i].State, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model[i].State, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model[i].State)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model[i].Countries, "Country", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(
                             model => model[i].CountryId,
                             new SelectList(@Model[i].Countries, "Id", "Name", @Model[i].CountryId)
                            , new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model[i].CountryId)
                        </div>
                    </div>
                </div>
            }
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", MVC.Admin.User.Index())
</div>