﻿@model ZotCode.Web.ViewModels.InvoiceDetailsViewModel

@{
    ViewBag.Title = "Invoice Details";
}

<h1>Invoice Details</h1>

<table>
    <tr><td><h2>Invoice#: @Model.Invoice.Id</h2></td><td align="right" width="350"><input type="button" class="button1" value="Download" /></td></tr>
    <td>Date Created: @Model.Invoice.InvoiceDate</td>
</table>
<br />
<table id="PersonalDetails">
    <tr><th>Personal Details</th></tr>
    <tr><td>@Model.User.FirstName @Model.User.LastName</td></tr>
    <tr><td>@Model.User.PostalAddress.StreetNumber @Model.User.PostalAddress.StreetName</td></tr>
    <tr><td>@Model.User.PostalAddress.City @Model.User.PostalAddress.State</td><td>@Model.User.PostalAddress.PostCode</td></tr>
</table>
<br />
<table id="FlightDetails">
    <tr><th>Flight Details</th></tr>
    @foreach (var flight in Model.Flights)
    {
        <tr><td>Flight ID#: @flight.Value.Id</td></tr>
        <tr><td>@flight.Value.Airline.Name @flight.Value.Plane.PlaneType</td></tr>
        <tr><td width="150">Departure Date: </td><td>@flight.Value.DepartureDate</td></tr>
        <tr><td>From: @flight.Value.DepartingFrom.Name (@flight.Value.DepartingFrom.Code)</td></tr>
        <tr><td width="150">Arrival Date:</td><td>@flight.Value.ArrivalDate</td></tr>
        <tr><td>To:@flight.Value.ArrivingAt.Name (@flight.Value.ArrivingAt.Code)</td></tr>

    }
    @{double totalPrice = 0;}
    @foreach (var ticket in Model.Tickets)
    {
        totalPrice += ticket.Value.TicketPrice;
    }
    <tr><td>PRICE: @totalPrice</td></tr>
</table>

