﻿@model IEnumerable<ZotCode.Domain.Model.Invoice>
@{
    ViewBag.Title = "Index";
}

<h1>Purchase History</h1>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Id.ToString(), MVC.Invoice.Details(item.Id))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
        </tr>
    }
</table>


