﻿@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FlightPub</title>

    @Styles.Render(Links.Lib.Styles.bootstrap_css)
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>

</head>

<body id="top">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FlightPub", MVC.Home.Index(), new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", MVC.Home.Index())</li>
                    <li>@Html.ActionLink("About", MVC.Home.About())</li>
                    <li>@Html.ActionLink("Contact", MVC.Home.Contact())</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div><!--/.nav-collapse -->
        </div>
    </nav> <!-- End Nav -->



    <div class="body-content">
        @RenderBody()
    </div>



    <footer>
        <div class="container">
            <p>FlightPub Copyright &copy; @DateTime.Now.Year - <a href="#">Terms</a> &middot; <a href="#">Privacy</a></p>
        </div>
    </footer>

    @Scripts.Render(Links.Lib.Scripts.jquery_js)
    @Scripts.Render(Links.Lib.Scripts.bootstrap_js)
    @Scripts.Render(Links.Lib.Scripts.wow_js)
    @RenderSection("scripts", required: false)

    <script>
        new WOW().init();
    </script>
</body>
</html>
