﻿@model ZotCode.Domain.Model.Flight

@{
    Layout = MVC.Shared.Views._Layout;
    ViewBag.Title = "Flight Details";
}

<h2>Flight Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Airline.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airline.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivingAt.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivingAt.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartingFrom.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartingFrom.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plane.PlaneType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plane.PlaneType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StopOver.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopOver.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTimeStopOver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTimeStopOver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTimeStopOver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTimeStopOver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationSecondLeg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationSecondLeg)
        </dd>

    </dl>
</div>
