﻿@using Microsoft.Ajax.Utilities
@using ZotCode.Domain.Model
@using ZotCode.Domain.Model.System
@using ZotCode.Web.Areas.Flight.ViewModels
@model FlightSearchViewModel
@{
    Layout = MVC.Shared.Views._Layout;
    ViewBag.Title = "Flight Search";
}
@section Scripts {
    @Scripts.Render(Links.Lib.Scripts.jqueryui_js)
    @Scripts.Render(Links.Lib.Scripts.jquery_timepicker_js)
    @Scripts.Render(Links.Lib.Scripts.dataTables_js)
    @Scripts.Render(Links.Lib.Scripts.jqueryui_TimepickerAddon_js)
    @Scripts.Render(Links.Lib.Scripts.jqueryui_TimepickerAddon_SliderAccess_js)
    @Scripts.Render(Links.Scripts.Flight.Index_js)
}
@section styles {
    @Styles.Render(Links.Lib.Styles.jquery_ui_css)
    @Styles.Render(Links.Lib.Styles.jquery_TimepickerAddon_css)
}
<div class="landing-page">

    <!-- Modal (popup when search button pushed) -->
    @Html.Partial("SearchModal")

    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 logo">
                    <div class="wow fadeInLeft">
                        <img src="~/img/logo.png" class="img-responsive" />
                        <h1 class="logo-text">FlightPub</h1>
                    </div>
                </div>
            </div>

            <div class="wow fadeInRight">
                <!-- Search Area -->
                @using (Html.BeginForm(MVC.Flight.Search.Index(), FormMethod.Post))
                {
                    <div class="search-bar">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <label for="departure">Departure Airport</label>
                                @Html.DropDownListFor(m => m.DepartureId, new SelectList(Model.AirportList, "Id", "Name", "Code"), "Departure", new { @class = "form-control", @id = "departure" })
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <label for="arrival">Arrival Airport</label>
                                @Html.DropDownListFor(m => m.DestinationId, new SelectList(Model.AirportList, "Id", "Name", "Code"), "Destination", new { @class = "form-control", @id = "arrival" })
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <label for="range_start">Departure Date</label>
                                @Html.TextBoxFor(m => m.DepartureDate, new { @class = "form-control", @id = "range_start" })
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <label for="range_end">Return Date</label>
                                @Html.TextBoxFor(m => m.ReturnDate, new { @class = "form-control", @id = "range_end" })
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                                <label for="seat-class">Class</label>
                                @Html.DropDownListFor(m => m.TicketClass, new SelectList(Enum.GetValues(typeof(SeatClass))), new { @class = "form-control", @id = "seat-class" })
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                                <label for="passengers">Passengers</label>
                                <div id="passengers" class="dropdown">
                                    <button class="form-control" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        1 Adult
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                        <li>Adults: <span>@Html.TextBoxFor(m => m.Adults, new { @type = "number", @min = "0", @Value = "1", @class = "form-control", @id = "adults", @onchange = "updatePassengers();" })</span></li>
                                        <li>Children: <span>@Html.TextBoxFor(m => m.Children, new { @type = "number", @Value = "0", @min = "0", @class = "form-control", @id = "children", @onchange = "updatePassengers();" })</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center search-button">
                                @Html.CheckBoxFor(m => m.OneWay, new { @onclick = "oneWayFunction()", @id="oneway" }) One Way
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center search-button">
                                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i> Search For Flights</button>
                            </div>
                        </div>
                    </div> <!-- End Search Area -->
                }
            </div> <!-- End FadeIn -->
        </div> <!-- End Container Area -->
    </section> <!-- End Jumbotron -->


    <!-- Promotions area -->
    @Html.Partial("Promotions")

    <!-- Add spacer for a window (see background) -->
    @Html.Partial("Prefooter")

</div>