﻿<!-- Prefooter -->
<section class="window"></section>

<!-- Return to top bar - pre footer -->
<section class="return-to-top">
    <div class="container">
        <a href="#top" class="btn btn-primary">Return To Top <i class="fa fa-arrow-up"></i></a>
    </div>
</section>