﻿<!-- Static promotions start -->
<section class="section-promotions">
    <div class="promotions-header">
        <div class="container">
            <h2>Promotions <span>Discounted Fares!</span></h2>
        </div>
    </div>
    <div class="promotions-body">
        <div class="container">
            <div class="row">
                <!-- Promotion -->
                <div class="wow fadeIn col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="promotion-item">
                        <p class="promotion-discount-percent">50% OFF</p>
                        <p class="promotion-dates">Dec 2015</p>
                        <img class="promotions-sash img-responsive" src="../../../../img/sash.png" />
                        <img class="img-responsive thumbnail" src="../../../../img/paris.png" />
                        <p class="promotion-label">Paris</p>
                    </a>
                </div>
                <!-- Promotion -->
                <div class="wow fadeIn col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="promotion-item">
                        <p class="promotion-discount-save">SAVE $100</p>
                        <p class="promotion-dates">16 Nov '15 - Feb 2016</p>
                        <img class="promotions-sash img-responsive" src="../../../../img/sash.png" />
                        <img class="img-responsive thumbnail" src="../../../../img/sydney.png" />
                        <p class="promotion-label">Sydney</p>
                    </a>
                </div>
                <!-- Promotion -->
                <div class="wow fadeIn col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="promotion-item">
                        <p class="promotion-discount-percent">20% OFF</p>
                        <p class="promotion-dates">Jan 2016</p>
                        <img class="promotions-sash img-responsive" src="../../../../img/sash.png" />
                        <img class="img-responsive thumbnail" src="../../../../img/tokyo.png" />
                        <p class="promotion-label">Tokyo</p>
                    </a>
                </div>
                <!-- Promotion -->
                <div class="wow fadeIn col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="promotion-item">
                        <p class="promotion-discount-percent">15% OFF</p>
                        <p class="promotion-dates">Qantas Airlines</p>
                        <img class="promotions-sash img-responsive" src="../../../../img/sash.png" />
                        <img class="img-responsive thumbnail" src="../../../../img/newyork.png" />
                        <p class="promotion-label">New York</p>
                    </a>
                </div>
                <!-- Promotion -->
                <div class="wow fadeIn col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="promotion-item">
                        <p class="promotion-discount-save">$1250 OFF</p>
                        <p class="promotion-dates">June &amp; July '16</p>
                        <img class="promotions-sash img-responsive" src="../../../../img/sash.png" />
                        <img class="img-responsive thumbnail" src="../../../../img/hawaii.png" />
                        <p class="promotion-label">Hawaii</p>
                    </a>
                </div>
                <!-- Promotion -->
                <div class="wow fadeIn col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="promotion-item">
                        <p class="promotion-discount-save">SAVE $250</p>
                        <p class="promotion-dates">March 2016</p>
                        <img class="promotions-sash img-responsive" src="../../../../img/sash.png" />
                        <img class="img-responsive thumbnail" src="../../../../img/los-angeles.png" />
                        <p class="promotion-label">Los Angeles</p>
                    </a>
                </div>
                <!-- Promotion -->
                <div class="wow fadeIn col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="promotion-item">
                        <p class="promotion-discount-percent">10% OFF</p>
                        <p class="promotion-dates">Jetstar</p>
                        <img class="promotions-sash img-responsive" src="../../../../img/sash.png" />
                        <img class="img-responsive thumbnail" src="../../../../img/darwin.png" />
                        <p class="promotion-label">Darwin</p>
                    </a>
                </div>
                <!-- Promotion -->
                <div class="wow fadeIn col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="promotion-item">
                        <p class="promotion-discount-percent">30% OFF</p>
                        <p class="promotion-dates">Summer Special</p>
                        <img class="promotions-sash img-responsive" src="../../../../img/sash.png" />
                        <img class="img-responsive thumbnail" src="../../../../img/madrid.png" />
                        <p class="promotion-label">Madrid</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End promotions area -->