﻿@using ZotCode.Web.Flight.Models
@model ZotCode.Web.Areas.Flight.ViewModels.FlightResultViewModel

@{
    Layout = MVC.Shared.Views._Layout;
    ViewBag.Title = "Result";
}
@section Scripts {
    @Scripts.Render(Links.Lib.Scripts.jqueryui_js)
    @Scripts.Render(Links.Lib.Scripts.dataTables_js)
    @Scripts.Render(Links.Scripts.Flight.Results_js)
}
@section styles{
    @Styles.Render(Links.Lib.Styles.jquery_ui_css)
    @Styles.Render(Links.Lib.Styles.dataTables_css)
}

<section class="section-header">
    <div class="container">
        <h1>Flight <span>Search Results</span></h1>
    </div>
</section>

<section id="selectedFlights">
    <div class="container">
        <div class="row">
            <div class="booking-pipeline col-lg-3 booking-pipeline-current">
                Select Departure Flight
            </div>
            <div class="booking-pipeline col-lg-3">
                Select Return Flight
            </div>
            <div class="booking-pipeline col-lg-3">
                Make Booking
            </div>
            <div class="booking-pipeline col-lg-3">
                Invoice
            </div>
        </div>
        <div class="row">
            <div class="text-center col-lg-12">
                Booking Progress
            </div>
        </div>
    </div>
</section>

<div class="logo container">
    <div class="animated bounceIn">
        <img src="~/img/FlightPub_256.png" class="img-responsive" />
    </div>
</div>

<section id="departureFlights">
    <!-- DEPARTURE FLIGHTS -->
    <div class="container">
        <a role="button" data-toggle="collapse" href="#deptCollapseWrapper" aria-expanded="false" aria-controls="deptCollapseWrapper">
            <h2 class="flights-header">
                Departure Flights <i class="float-right-search-menu glyphicon glyphicon-menu-down"></i> 
            </h2>
        </a>
        <div class="clearfix"></div>
        <div class="collapse" id="deptCollapseWrapper">

            <div class="row">
                <div class="col-md-6">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6">
                    <div class="sortby">
                        <label for="sortby">Sort By:</label>
                        <select id="sortby">
                            <option selected>Cost</option>
                            <option>Departure Time</option>
                            <option>Duration</option>
                            <option>Flight Legs</option>
                        </select>
                    </div>
                </div>
            </div> <!-- End row -->

            <div class="clearfix"></div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                @foreach (FlightRoute route in Model.DepartureRoutes)
                {
                    <div class="panel panel-inverse">
                        <div class="panel-heading" role="tab" id="heading-@route.id">
                            <div class="row">
                                <div class="result-route-cost text-center col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <strong>Cost:</strong> <br />@route.GetCostCheapest() AUD
                                </div>
                                <div class="result-route-airport col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <strong>Departs:</strong> @route.DepartureAirport()<br />
                                    @route.DepartureDate
                                </div>
                                <div class="result-route-airport col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <strong>To:</strong> @route.DestAirport.Name<br />
                                    @route.ArrivalDate
                                </div>
                                <div class="text-center col-lg-1 col-md-1 col-sm-6 col-xs-12">
                                    <strong>Duration:</strong> <br />
                                    @route.Duration()
                                </div>
                                <div class="text-center col-md-1 col-sm-6 col-xs-12">
                                    <strong>Flights:</strong> <br />@route.FlightLegs.Count()
                                </div>
                                <div class="result-route-button text-center col-lg-1 col-md-1 col-sm-12">
                                    <button id="route-@route.id" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" value="@route.id" onclick=""><i class="fa fa-plane"></i> Select Flight</button>
                                </div>
                                <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <a class="collapsed btn btn-default btn-sm" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@route.id" aria-expanded="false" aria-controls="collapse-@route.id">
                                        Click to view flight details
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="collapse-@route.id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-@route.id">
                            <div class="panel-body">
                                @{var count = 1;}
                                @foreach (var f in route.FlightLegs)
                                {
                                    <div class="row">
                                        <div class="col-lg-1">
                                            Leg @count
                                        </div>
                                        <div class="col-lg-2">
                                            <strong>Flight ID:</strong> @f.Id
                                        </div>
                                        <div class="col-lg-3">
                                            <strong>Departs:</strong> @f.DepartingFrom.Name <br />
                                            @f.DepartureDate
                                        </div>
                                        <div class="col-lg-3">
                                            <strong>Arrives:</strong> @f.ArrivingAt.Name<br />
                                            @f.ArrivalDate
                                        </div>
                                        <div class="col-lg-3">
                                            <strong>Stopover:</strong>
                                            @if (@f.StopOver != null)
                                            {
                                                @f.StopOver.Name<br />
                                                @f.ArrivalTimeStopOver
                                            }
                                            else
                                            {
                                                Write(" None");
                                            }
                                        </div>
                                    </div>
                                    count++;
                                    <hr />
                                }
                            </div>
                        </div>
                    </div>  <!-- End Panel -->
                                    }

            </div> <!-- End Accordion (Panel Group) -->
        </div> <!-- End collapse departure flights -->
        <p class="text-center"><a class="btn btn-default" role="button" data-toggle="collapse" href="#deptCollapseWrapper" aria-expanded="false" aria-controls="deptCollapseWrapper">@Model.DepartureRoutes.Count flights found. Click to view.</a></p>
</div> <!-- End Container -->


    <!-- RETURN FLIGHTS -->
    <div class="container">
        <a role="button" data-toggle="collapse" href="#returnCollapseWrapper" aria-expanded="false" aria-controls="returnCollapseWrapper">
            <h2 class="flights-header">
                Return Flights <i class="float-right-search-menu glyphicon glyphicon-menu-down"></i> 
            </h2>
        </a>
        <div class="clearfix"></div>
        <div class="collapse" id="returnCollapseWrapper">

            <div class="row">
                <div class="col-md-6">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6">
                    <div class="sortby">
                        <label for="sortby">Sort By:</label>
                        <select id="sortby">
                            <option selected>Cost</option>
                            <option>Departure Time</option>
                            <option>Duration</option>
                            <option>Flight Legs</option>
                        </select>
                    </div>
                </div>
            </div> <!-- End row -->

            <div class="clearfix"></div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                @foreach (FlightRoute route in Model.ReturnRoutes)
            {
                    <div class="panel panel-inverse">
                        <div class="panel-heading" role="tab" id="heading-@route.id">
                            <div class="row">
                                <div class="result-route-cost text-center col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <strong>Cost:</strong> <br />@route.GetCostCheapest() AUD
                                </div>
                                <div class="result-route-airport col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <strong>Departs:</strong> @route.DepartureAirport()<br />
                                    @route.DepartureDate
                                </div>
                                <div class="result-route-airport col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <strong>To:</strong> @route.DestAirport.Name<br />
                                    @route.ArrivalDate
                                </div>
                                <div class="text-center col-lg-1 col-md-1 col-sm-6 col-xs-12">
                                    <strong>Duration:</strong> <br />
                                    @route.Duration()
                                </div>
                                <div class="text-center col-md-1 col-sm-6 col-xs-12">
                                    <strong>Flights:</strong> <br />@route.FlightLegs.Count()
                                </div>
                                <div class="result-route-button text-center col-lg-1 col-md-1 col-sm-12">
                                    <button id="route-@route.id" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" value="@route.id" onclick=""><i class="fa fa-plane"></i> Select Flight</button>
                                </div>
                                <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <a class="collapsed btn btn-default btn-sm" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@route.id" aria-expanded="false" aria-controls="collapse-@route.id">
                                        Click to view flight details
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="collapse-@route.id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-@route.id">
                            <div class="panel-body">
                                @{var count = 1;}
                                @foreach (var f in route.FlightLegs)
                                {
                                    <div class="row">
                                        <div class="col-lg-1">
                                            Leg @count
                                        </div>
                                        <div class="col-lg-2">
                                            <strong>Flight ID:</strong> @f.Id
                                        </div>
                                        <div class="col-lg-3">
                                            <strong>Departs:</strong> @f.DepartingFrom.Name <br />
                                            @f.DepartureDate
                                        </div>
                                        <div class="col-lg-3">
                                            <strong>Arrives:</strong> @f.ArrivingAt.Name<br />
                                            @f.ArrivalDate
                                        </div>
                                        <div class="col-lg-3">
                                            <strong>Stopover:</strong>
                                            @if (@f.StopOver != null)
                                            {
                                                @f.StopOver.Name<br />
                                                @f.ArrivalTimeStopOver
                                            }
                                            else
                                            {
                                                Write(" None");
                                            }
                                        </div>
                                    </div>
                                    count++;
                                    <hr />
                                } <!-- End foreach statement-->

                            </div>
                        </div>
                    </div>  <!-- End Panel -->
                                    }


                </div> <!-- End Accordion (Panel Group) -->
            </div> <!-- End collapse wrapper -->
        <p class="text-center"><a class="btn btn-default" role="button" data-toggle="collapse" href="#returnCollapseWrapper" aria-expanded="false" aria-controls="returnCollapseWrapper">@Model.ReturnRoutes.Count flights found. Click to view.</a></p>
        </div> <!-- End Container -->

</section> <!-- End return flights section -->
<!-- Add spacer for a window (see background) -->
@Html.Partial("Prefooter")