﻿
<!-- Modal (popup when search button pushed) -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Grab A Great Deal!</h4>
            </div>
            <div class="modal-body">
                <img src="../../../../img/amsterdam.png" class="img-responsive" />
            </div>
            <div class="modal-footer">
                <p><i class="fa fa-spinner fa-pulse fa-2x"></i></p>
                <p>Searching for flights...</p>
            </div>
        </div>
    </div>
</div> <!-- End modal -->