﻿body {
    padding-top: 50px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

section #departureFlights {
    font-size: 10px;
}

.section-header {
    min-height: 90px;
    background-image: linear-gradient(#82CAFA, #3BB9FF 60%, #82CAFA);
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #ccc;
    font-family: 'Oswald', sans-serif;
}

.section-header h1 span {
    font-size: 26px;
    color: #fff;
}

.section-header .container {
    min-height: 90px;
    opacity: 0.85;
}

.landing-page {
    background-image: url('../img/bg1.jpg');
    background-attachment: fixed;
}

footer {
    background-color: #fff;
    min-height: 80px;
    text-align: center;
    margin-bottom: 0;
    padding: 25px;
    border-top: 1px solid #ccc;
}

h1 {
    font-size: 36px;

}

h2 {
    font-size: 30px;
    margin: 10px;
    padding: 0;
}

.logo-text {
    margin-top: 0 !important;
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.section-promotions {
    min-height: 500px;
    background-color: #fff;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
}

.promotions-header, .promotion-label {
    background-color: rgb(216,0,0);
    font-family: 'Oswald', sans-serif;
}

.promotions-header {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.promotion-discount-percent, .promotion-discount-save, .promotion-dates {
    position: absolute;
    z-index: 2;
    color: #fff;
}

.promotion-discount-percent, .promotion-discount-save {
    transform:rotate(315deg);   
}

.promotion-dates {
    bottom: 75px;
    right: 40px;
    padding: 10px;
    background-color: rgba(0,0,0,.65);
}

.promotion-discount-percent {
    font-size: 30px;
    margin-top: 40px;
}

.promotion-discount-save {
    font-size: 26px;
    margin-top: 40px;
}

.return-to-top {
    min-height: 50px;
    background-image: linear-gradient(#fff9eb, #f4edd6 60%, #fefbf0);
    text-transform: uppercase;
    text-align: center;
}

.return-to-top a {
    vertical-align: middle;
    margin: 15px;
}

.window {
    margin: 400px;
}

.section-promotions h2 {
    font-weight: bold;
    color: #fff;
}

.section-promotions h2 > span {
    font-weight: normal;
    font-size: 25px;
    color: #aaa;
}

.promotion-label {
    margin: 0;
    padding: 10px;
    color: #fff;
    min-height: 30px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin: 10px 0;
}

.promotions-sash {
    position: absolute;
    z-index: 1;
}

.thumbnail {
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 0 !important;
    min-height: 50px;
    border-bottom: 1px solid #ccc;
} 

.navbar-default .navbar-nav > .active > a, .navbar li:hover, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #000;
}

.jumbotron {
    margin: 0;
    min-height: 550px;
    background-color: rgba(255,255,255,0);
}

.search-bar {
    padding: 15px;
    border: 1px solid #fff;
    background-color: rgba(255,255,255,0.9);
    background-image: radial-gradient(#fff9eb, #f4edd6 60%, #fefbf0);
}

.search-button {
    margin-top: 5px;
}

.modal-footer {
    text-align: center !important;
}

.modal {
    margin-top: 100px;
}

.dropdown button {
    text-align: left !important;
}

.dropdown-menu {
    width: 100%;
    padding: 10px;
}

.logo, .logo img {
    margin: auto;
}

.form-control {
    margin: 2px;
}

.panel-heading {
    border: 1px solid black;
}

.flights-header {
    background-image: linear-gradient(#fff9eb, #f4edd6 60%, #fefbf0);
    border: 1px solid #ccc;
    margin-bottom: 25px;
    padding: 15px;
    font-family: 'Oswald', sans-serif;
    color: rgba(0,0,0,.65);
}

.flights-header > a, .flights-header a:hover  {
    text-decoration: none;
}

.flight-table-headings {
    margin-bottom: 10px;
    padding-left: 5px;
}

.click-for-details {
    font-size: 12px;
    margin-top: 5px;
    background-image: linear-gradient(#fff9eb, #f4edd6 60%, #fefbf0);
}

.sortby {
    float: right;
    margin-bottom: 25px;
    bottom: 5px;
}

.booking-pipeline {
	position: relative;
	background: #ffffff;
	border: 2px solid #ccc;
    min-height: 65px;
    text-align: center;
    margin-top: 5px;
}

.booking-pipeline:after, .booking-pipeline:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    z-index: 1;
}

.booking-pipeline:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 30px;
	margin-top: -30px;
}

.booking-pipeline:before {
	border-color: rgba(245, 245, 201, 0);
	border-left-color: #ccc;
	border-width: 33px;
	margin-top: -33px;
}

.panel-group {
    font-size: smaller;
}

.float-right-search-menu {
    float: right;
    font-size: 16px;
}

@media(max-width: 1170px) {
    .search-bar {
        margin-top: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .panel-title-detail {
        border-bottom: 1px solid #ccc;
        padding: 5px;
    }
}

@media(min-width: 750px) and (max-width: 969px) {
    .result-route-airport {
        text-align: center;
    }

    .result-route-button {
        padding-top: 5px;
        border-top: 1px solid #ccc;
    }

    .result-route-cost, .result-route-airport {
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}

@media(max-width: 749px) {
    .result-route-airport {
        text-align: center;
    }

    #accordion .col-xs-12 {
        padding: 5px;
        border-bottom: 1px solid #ccc;
    }
}